.web{

    z-index: -1;
    min-height: 500px;
    min-width: 100%;
    position: fixed;
    left:0;
    bottom:0;

}

.header{
    border: 1px solid rgb(233, 235, 240);
    border-radius: 5px;
    background-image: transparent;
}