
.grade1{
    background-image: linear-gradient(to right,#092b24, #13524c,#239186);
  }
  .grade2{
    background-image: linear-gradient(to bottom, #071929 , #0b3326);
    border-radius: 6%;
  }

  
  .bottomDiv{
    position:relative;
    bottom:150px;
    left:150px;
  }
  
  .rank , .score{
    color:rgb(24, 202, 128);
    font-size: xx-large;
  }
  
  .divider{
    border-top: 1px solid grey;
    border-radius: 10px;
    width: 54%;
    position:relative;
    left:22%;
  
  }
  .separater{
    border-right: 2px solid grey;
    height: 1.5vw;
  
  }
  .circle-image{
    width: 35%;
    height: fit-content;
    border: 2px solid rgb(24, 202, 128);
    border-radius: 50%;
    overflow: hidden;
    padding: 25px;
  }
  
    .scrollbar {
      float: left;
      height: 450px;
      background: #fff;
      overflow-y: scroll;
      margin-bottom: 25px;
      border-top: 2px solid #63d6cd;
      }
  
    .scrollbar-primary {
    scrollbar-color: rgb(31, 156, 104) rgb(245, 247, 246);
    }
  .header{
    font-family: Impact, sans-serif,Arial, Helvetica;
    font-size: 150%;
    color:  rgb(32, 145, 98);
    text-transform: uppercase;
    
  }
  .list{
    background-color: transparent;
    border: none;
  }
  
  
  
  @media only screen and (max-width:1800px) and (min-width: 500px){
    .card-shadow{
      width:75%;
      height:15px;
      border-radius: 50%;
      align-items: center;
      background-color: rgb(116, 150, 148);
    }
  }
  
  .crown{
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: 10;
   
  }
  
  @keyframes pulse {
    0% {transform: rotateY(0deg);}
    10% {transform: rotateY(36deg);}
    20% {transform: rotateY(72deg);}
    30% {transform: rotateY(108deg);}
    40% {transform: rotateY(144deg)}
    50% {transform: rotateY(180deg);}
    60% {transform: rotateY(216deg);}
    70% {transform: rotateY(252deg);}
    80% {transform: rotateY(288deg);}
    90% {transform: rotateY(324deg);}
    100% {transform: rotateY(360deg);}
  }
  