

.list{
    background-color: transparent;
    border: none;
  }
.card-box{
    border-radius: 10px;
   
}  
.winners-box{
    background-image: linear-gradient(to bottom, #071929 , #0d3025,#114228); 
    border-radius: 5px;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-color: rgb(168, 170, 165) rgb(245, 247, 246);
    box-shadow: 2px 6px 15px 5px #c4dac9;
}
.media-shaper{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #ffff;
    background-color: transparent;
    z-index:1;  
}
.circle-score{
    border-radius: 50%;
    border: 5px solid #14c056;
    height: 110px;
    width:110px;
    background-image: radial-gradient(#171a35 60%, rgb(12, 44, 35) 20%);
    position: absolute;
    top:-22px;
}
.inner-circle{
    border-radius: 50%;
    border: 1px solid rgba(207, 160, 185, 0.315);
    background-color: transparent ;
    height: 80px;
    width:80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:10%;
    left: 10%;

}

/* for mobile screen Rank */
.mobile-score{
    border-radius: 50%;
    border: 5px solid #14c056;
    height: 80px;
    width:80px;
    background-image: radial-gradient(#17232e 60%, rgb(12, 49, 28) 20%);
}
.mob-inner-circle{
    border-radius: 50%;
    background-color: transparent ;
    border: 1px solid rgba(207, 160, 185, 0.315);
    height: 60px;
    width:60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:7%;
    left: 7%;

}

/*for screen size not fitting normal rank layout*/
@media only screen and (min-width: 990px) and (max-width: 1200px){
    .media-shaper{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid #ffff;
        background-color: transparent;
        z-index:1; 
        
        
    }
    .circle-score{
        border-radius: 50%;
        border: 4px solid #14c056;
        height: 95px;
        width:95px;
        background-image: radial-gradient(#17232e 60%, rgb(12, 49, 28) 20%);
        position: absolute;
        top:-14px;
    }
    .inner-circle{
        border-radius: 50%;
        border: 1px solid rgba(207, 160, 185, 0.315);
        background-color: transparent ;
        height: 70px;
        width:70px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        top:9%;
        left: 9%;
    }
}



.scrollbox {
    
    background: rgba(255, 255, 255, 0.534); 
    float: left;
    overflow-y: scroll;
    border-top: 2px solid #c7e6ae;
    overflow-x: hidden;
    
 }

 .scrollbox-primary {
    scrollbar-color: rgb(168, 170, 165) rgb(245, 247, 246);
 }

 /*for large screens*/
@media only screen and (min-width: 1600px) and (min-height: 1050px){
.backg{  
        height:calc(100vh - 100px);
        min-width: calc(100vw - 250px);
        background-color: transparent; 
        box-shadow: 0 1px 8px rgb(173, 171, 173);
        position:relative;
        top: 10vh;
     
  }
  .media-shaper{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #ffff;
    background-color: transparent;
    z-index:1;  
   
}
.circle-score{
    border-radius: 50%;
    border: 5px solid #14c056;
    height: 150px;
    width:150px;
    background-image: radial-gradient(#17232e 60%, rgb(12, 49, 28) 20%);
    position: absolute;
    top:-26px;
}
.inner-circle{
    border-radius: 50%;
    border: 1px solid rgba(207, 160, 185, 0.315);
    background-color: transparent ;
    height: 120px;
    width:120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:7%;
    left: 7%;

}

}

.extra{
    background-image: linear-gradient(to right, rgb(255, 255, 255) 1%, #ffffffd8 99% );
}
